.cNav{
    width:100%;
    background-color:#1a3ebc;
}
.cLink{
    color:white;
    text-decoration: none;
}
.cNavMenu{
    display:flex;
    width:inherit;
    height:100%;
    list-style: none;
}
.cNavMenuItem{
    height:100%;
    padding:15px;
    text-align: center;
}
.cNavMenuItem:hover{
    background-color: #105fdb;
}
.cBrand{
    margin-left:auto;
    font-size: large;
}
.Brand:hover{
    background-color: initial;
}