.CNav{
    width:100%;
    background-color:#1a3ebc;
}
.CLink{
    color:white;
    text-decoration: none;
}
.CNavMenu{
    display:flex;
    width:inherit;
    height:100%;
    list-style: none;
}
.CNavMenuItem{
    height:100%;
    padding:15px;
    text-align: center;
}
.CNavMenuItem:hover{
    background-color: #105fdb;
}
.Brand{
    margin-left:auto;
    font-size: large;
}
.Brand:hover{
    background-color: initial;
}